[pull]
    rebase = true
[branch]
    autosetuprebase = always
    sort = -committerdate
[init]
    defaultBranch = main
[commit]
    # Only set this to true if you have a GPG key configured and want to sign all your commits by default.
    gpgsign = false
[push]
    autoSetupRemote = true
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
[log]
    abbrevCommit = true
    follow = true
    decorate = false
[diff]
    mnemonicPrefix = true
    renames = true
[column]
    ui = auto
[color]
    ui = auto
[core]
    whitespace = -trailing-space
